<!doctype html>
<html>
<head>
	<!-- Include jquery and angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="scripts/angular.min.js"></script>
	<!-- Include angular module -->
	<script src="scripts/app.js"></script>
	
	<!--Bootstrap-->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

	<style>
		.done {
			text-decoration: line-through;
			color: #c0c0c0;
		}
	</style>

</head>

<!-- Bind module to html -->
<body ng-app="myApp">
	<!-- Bind controller to html -->
	<div ng-controller="testController">

		<h1>My Organiser</h1>
		<p>Please use the following app to build a to do list</p>
		<p>Add items button will add items</p>
		<p>Clear completed button will remove items</p><br>

		<form name="frm" ng-submit="addToDo()">
			<input type="text" name="newToDo" ng-model="newToDo" required>
			<button ng-disabled="frm.$invalid">Add Item</button>
			<button ng-click="removeToDo()">Clear Completed</button>
		</form>
		<ul class="list-unstyled">
		    <li ng-repeat="todo in todos | orderBy: item">
		    	<input type="checkbox" ng-model="todo.done" />
		        <span ng-class="{'done':todo.done}">{{ todo.item }}</span>
		    </li>
		</ul>
	</div>

</body>

</html>